<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="form.css" />
</head>

<body>

    <div class="maindiv">


        <div class="formdiv">

            <div class="form_image">
            </div>

            <div class="form">
                <h2>Sign Up</h2>

                <form action="connection.php" method="post" autocomplete="off">
                    

                    <div class="input-label">
                        <input type="text"   autocomplete="off" required><br />
                        <label for="jobtitle">First Name</label><br />

                    </div>

                     <div class="input-label">
                        <input type="text"  name="lname" autocomplete="off" required><br />
                        <label for="jobtitle">Last Name</label><br />

                    </div>

                    
                     <div class="input-label">
                        <input type="number"  name="number" autocomplete="off" required><br />
                        <label for="jobtitle">Phone Number</label><br />

                    </div>

                    <div class="input-label">
                        <input type="email"  autocomplete="off" required><br />
                        <label for="companyemail"> email</label><br />

                    </div>

                    <div class="input-label">
                        <input type="password"   autocomplete="off" required><br />
                        <label for="jobtitle">password</label><br />

                    </div>
                    

                    

                   
                    <div>
                        <br> <br> <br> <input type="submit" value="Sign Up" class="submit-btn">
                    </div>
                </form>
            </div>


        </div>
</body>

</html>
