.App h1 {
  text-align: center;
}

.op {
  color: #e74708;
}
nav {
  background-color: #1c0447;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  color: white;
  margin-top: 20px;
}
